<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Principal.master.cs" Inherits="CobranzaALC.Formatos.Principal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>

    <style type="text/css">
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                widows: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: 10px;
            }

            .dropdown-submenu > a:after {
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 0 6px 6px 6px;
                    -moz-border-radius: 0 6px 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>

    <asp:ContentPlaceHolder ID="cphCabecera" runat="server">
            
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="XXX" src="..." />
                    </a>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Menú <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level">
                                <asp:Literal ID="ltrMenu" runat="server"></asp:Literal>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="contenedor-central">
            <asp:ContentPlaceHolder ID="cphPrincipal" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
    </form>
</body>
</html>
