<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
      <add key="CONN" value="Data Source=200.63.102.49; Initial Catalog=Testing_Alcsa;User ID=alcsacl;Password=2oTMr4ZkY2" />
	    <add key="DOCUMENTOS" value="Data Source=200.63.102.49; Initial Catalog=ALCSA_DOCUMENTOS_TEST;User ID=alcsacl;Password=2oTMr4ZkY2" />
      <add key="Inicio" value="www.alcsa.cl/testing/acceso.aspx " />
      <add key="CARPETA_CARGA" value="..\carga" />
	    <add key="AMBIENTE" value="testing" />
      <add key="RUTA_QR" value="www.alcsa.cl/Testing/Acceso.aspx?codigo={0}"/>
	    <add key="USUARIO_REVISION" value="jisantander" />
      <!-- CORREO -->
      <add key="SERVIDOR_CORREO" value="201.148.105.19" />
      <add key="PUERTO_SERVIDOR_CORREO" value="587" />
      <add key="CORREO_EMISOR" value="sistema@alcsa.cl" />
      <add key="CONTRASENA_CORREO" value="admin14alc" />
      <add key="ASUNTO_MAIL" value="Solicita suspender acciones judiciales de juicio" />
  </appSettings>
  <system.web>
  <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration> 